* {
  margin: 0em;
  padding: 0em;
}

body {
  color: gainsboro;
  background-color: mediumblue;
}

.title {
  font-size: 1.5em;
  background-color: Navy;
  width: 100%;
}

.title h1 {
  font-size: 2em;
  text-align: center;
}

input {

  font-size: 1.375em;
  margin-bottom: 5%;
}

.input-section {
  margin: 5%;
  margin-top: 10%;
}

.div-input{
  display: flex;
  justify-content: space-between;

}

p {
  font-size: 1.375em;
  margin: 5%;
}

label{
  font-size: 1.375em;
}

.table-container{
  font-size: 1.375em;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}

table td, table th {
    border: 0.0625em solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: blue;}

table tr:hover {background-color: midnightblue;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: Navy;
    color: white;
}
