* {
  margin: 0em;
  padding: 0em;
}

body {
  color: gainsboro;
  background-color: mediumblue;
}

.title {
  font-size: 1.5em;
  background-color: Navy;
  width: 100%;
}

.title h1 {
  font-size: 2em;
  text-align: center;
}

input {
  font-size: 1.375em;
  margin-bottom: 5%;
}

.input-section {
  margin: 5%;
  margin-top: 10%;
}

.div-input {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 1.375em;
  margin: 5%;
}

label {
  font-size: 1.375em;
}

.table-container {
  font-size: 1.375em;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3em;
}

table td, table th {
  border: 0.0625em solid #ddd;
  padding: 0.5em;
}

table tr:nth-child(even) {
  background-color: blue;
}

table tr:hover {
  background-color: midnightblue;
  transition-duration: 0.4s;
}

table th {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
  background-color: Navy;
  color: white;
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        transition-delay: 1s;
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
